.card-white {
	margin: 50px auto;
	border: 1px solid;
	text-align: justify;
	padding: 40px 60px;
	width: 1000px;
	box-shadow: 0 5px 5px rgba(1,0,0,0.5);
	background-color: #F5F5F5;
	border-radius: 40px;
}


.card-white img {
	width: 180px;
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}



